In [10]:
height = 6.4
x = str(height)

In [11]:
print(type(x))

<class 'str'>

In [12]:
print(type(height))

<class 'float'>

In [13]:
print(type(str(height)))

<class 'str'>

In [15]:
x = 10;
print(float(x))

10.0

In [16]:
print(type(x))
print(type(float(x)))

<class 'int'>
<class 'float'>

In [17]:
ht = int(height)

In [18]:
print(ht)

6

In [19]:
ph = 45;
print(float(ph))

45.0

In [20]:
print(int(float(ph)))

45

In [22]:
print(type(str(float(ph))))

<class 'str'>

In [2]:
ph = 54;
print(type(str(float(ph))))

<class 'str'>

In [5]:
ht = 6.44
print(ht)
print(int(ht))
print(float(int(ht)))
print(float(ht))

6.44
6
6.0
6.44

In [6]:
age = input("What is your age")
print(age, type(age))

56 <class 'str'>

In [7]:
age = int(input("What is your age"))
print(age, type(age))

56 <class 'int'>

In [8]:
age = input()
print(age, type(age))

45 <class 'str'>

In [10]:
num1 = float(input("Enter 1st numbner"))
num2 = float(input("Enter 2nd number::"))
op = input("Enter operator")
if(op == "+"):
    print("SUM:: ",num1 + num2)
if(op == "-"):
    print("DIFF:: ", num1 - num2)

DIFF::  -10.0

In [1]:
print(21/4)

5.25

In [2]:
print(21//4)

5

In [4]:
a = 5; b = 10
print(a/b)
print(a//b)

0.5
0

In [3]:
n = float(input("Enter a number::"))
if n >0:
    print("+ve")
elif n < 0:
    print("-ve")
else:
    print("zero")

-ve

In [6]:
n = float(input("Etner a number"))
if n > 0:
    if n%2 == 0:
        print("Number is +ve & even")
    else:
        print("Number is +ve & odd")
else:
    print("number is -ve")

number is -ve

In [12]:
for i in range(5):
    for j in range(5):
        print("*", end = "  ")
    print()

*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *